<main>
    <div class="page-header">
        <div>
            <h1>Agriculture Generality Dashboard</h1>
            <small>Monitoring of environmental indicators in agriculture</small>    
        </div>
    </div>
    <div class="detail-chard-grid">
        <div class="analytics-chart">
            <div class="analytics-chart-head">
                <h3>Temperature monitoring chart</h3>
                <small>Monitor the ambient temperature by cycle, shown in the chart below</small>
            </div>
            <div class="analytics-chart-main">
                <span class="las la-chart-area"></span>
            </div>
        </div>
        <div class="history" style="min-width: auto; margin-right: 2rem;">
            <div class="history-head-flex">
                <h3>History</h3>
                <small>See all the history 
                    <span class="las la-arrow-right"></span>
                </small>
            </div>
            <div class="table-responsive">
                <table>
                    <tbody>
                        <tr>
                            <td class="td-head">
                                <div class="tr-head">Date</div>
                            </td>
                            <td class="td-head"><div class="tr-head">Time</div></td>
                            <td class="td-head"><div class="tr-head"><p>Temperature</p></div></td>
                            <td class="td-head"><div class="tr-head"><p>Status</p></div></td>
                        </tr>
                        <tr>
                            <td class="td-info"><div class="tr-info">14/3/2021</div></td>
                            <td class="td-info"><div class="tr-info">14h25m30s</div></td>
                            <td class="td-info"><div class="tr-info"><p>40C</p></div></td>
                            <td class="td-info"><div class="tr-info"><p class="status red"></p></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>