<main>
    <div class="page-header">
        <div>
            <h1>Agriculture Analytics Dashboard</h1>
            <small>Monitoring of environmental indicators in agriculture</small>    
        </div>
    </div>
    <div class="cards">
        <div class="card-single">
            <div class="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <span>Temperature</span>
                        <small>Average temperature of environmental</small>
                    </div>
                    <h2>35C</h2>
                </div>
                <div class="card-chart red">
                    <span class="las la-temperature-low"></span>
                </div>
            </div>
        </div>
        <div class="card-single">
            <div class="card-flex">
                <div class="card-info">
                    <div class="card-head ">
                        <span>Soil Moisture</span>
                        <small>Average soil moisture of environmental</small>
                    </div>
                    <h2>20%</h2>
                </div>
                <div class="card-chart blue">
                    <span class="las la-tint"></span>
                </div>
            </div>
        </div>
        <div class="card-single">
            <div class="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <span>CO2 Concentration</span>
                        <small>Average CO2 concentration of environmental</small>
                    </div>
                    <h2><span>40%</span></h2>
                </div>
                <div class="card-chart yellow">
                    <span class="las la-leaf"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-grid">
        <div class="analytics-card">
            <div class="analytics-head">
                <h3>Analytics infomations</h3>
                <span class="las la-ellipsis-h"></span>
            </div>
            <div class="analytics-chart">
                <div class="chart-circle">
                    <h1>75%</h1>
                </div>
                <div class="analytics-note">
                    <span>The quality of the plant's habitat is okay</span>
                </div>
            </div>
            <div class="analytics-btn">
                <button>Detail Report</button>
            </div>
        </div>
        <div class="history">
            <div class="history-head-flex">
                <h3>History</h3>
                <small>See all the history 
                    <span class="las la-arrow-right"></span>
                </small
            </div>
            <div class="table-responsive">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="tr-head">Date</div>
                            </td>
                            <td><div class="tr-head">Time</div></td>
                            <td><div class="tr-head"><span>Temperature</span></div></td>
                            <td><div class="tr-head"><span>Soil Moiture</span></div></td>
                            <td><div class="tr-head"><span>CO2 Connectration</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="tr-info">14/3/2021</div></td>
                            <td><div class="tr-info">14h25m30s</div></td>
                            <td><div class="tr-info"><span>30C</span></div></td>
                            <td><div class="tr-info"><span>30%</span></div></td>
                            <td><div class="tr-info"><span>40%</span></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>