<main>
    <div class="page-header">
        <div>
            <h1>Agriculture User Information</h1>
            <small>User information and edit information</small>    
        </div>
    </div>
    <div class="user-grid">
        <div class="sidebar-user">
            <img src="./img/user.jpg" alt="">
            <div>
                <h3>Quang Truong</h3>
                <p>18521572@gm.uit.edu.vn</p>
                <button>Change the picture</button>
            </div>
        </div>
        <div class="user-information">
            <div class="user-head user-info history-head-flex">
                <h3>User Information</h3>
                <small>Edit the user information
                    <span class="las la-arrow-right"></span>
                </small>
            </div>
            <div class="user-main">
                <div class="user-component">
                    <h4>Name</h4>
                    <span>Tran Nguyen Quang Truong</span>
                </div>
                <div class="user-component">
                    <h4>Email</h4>
                    <span>18521572@gm.uit.edu.vn</span>
                </div>
                <div class="user-component">
                    <h4>Company</h4>
                    <span>UIT</span>
                </div>
                <div class="user-component">
                    <h4>Number</h4>
                    <span>0945801840</span>
                </div>
                <div class="user-component">
                    <h4>Address</h4>
                    <span>HCM City</span>
                </div>
            </div>
            <div class="user-head user-account history-head-flex">
                <h3>User Account</h3>
                <small>Edit the user account
                    <span class="las la-arrow-right"></span>
                </small>
            </div>
            <div class="user-main">
                <div class="user-component">
                    <h4>Username</h4>
                    <span>quangtruonguit</span>
                </div>
                <div class="user-component">
                    <h4>Passowrd</h4>
                    <span>*********</span>
                </div>
            </div>
        </div>
    </div>
</main>