@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
    --color-main: #136e1f;
    --primary-color: #8da2fb;
}

* {
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
body {
    overflow-x: hidden;
}

// Login css


.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: flex;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
    text-align: center;
}
.btn p {
    margin: auto;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

// Sidebar css


#sidebar-toggle {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar{
    left: -100%;
}

#sidebar-toggle:checked ~ .main-content header{
    left: 0;
    width: 100%;
    right: 0;
}
#sidebar-toggle:checked ~ .main-content{
    margin-left: 0;
}


.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--color-main);
    color: #fff;
    z-index: 20;
    transition: left 500ms;
}
.sidebar-brand {
    height: 100px;
}

.brand-flex {
    display: flex;
    justify-content:space-between;
}

.brand-icons span{
    
    font-size: 1.5rem;
    margin-left: .5rem;
}

.sidebar-user {
    margin: 1rem 0rem;
    text-align: center;
}

.sidebar-user img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #efefef;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.sidebar-user h3 {
    font-size: 1rem;
}
.sidebar-user p {
    font-size: .8rem;
}
.sidebar-user button {
    margin-top: 2rem;
    background: var(--color-main);
    color: var(--primary-color);
    border: 1px solid var(--color-main);
    border-radius: 3px;
    padding: 5px 10px;

}
.sidebar-menu {
    margin-top: 3rem;

}
.menu-head {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.sidebar-menu ul {
    margin-bottom: 1.5rem;
}

.sidebar-menu li {
    margin-bottom: 0.9rem;
}
.sidebar-menu li a {
    color: #efefef;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.sidebar-menu li a span {
    font-size: 1rem;
    display: inline-block;
    margin-right: .8rem;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #efefef;
    padding: 1rem 1.5rem;
    position: fixed;
    left: 280px;
    width: calc(100% - 280px);
    top: 0;
    z-index: 20;
    transition: margin-left 500ms;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.menu-toggle label {
    height: 60px;
    width: 60px;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    
}
.header-icons span {
    display: inline-block;
    margin-left: .7rem;
    font-size: 1.5rem;
}

.menu-toggle lable:hover {
    background: #efefef;
}

.main-content {
    margin-left: 280px;
    z-index: 20;
    transition: margin-left 500ms;
    
}

main {
    padding: 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
}

.page-header {
    /* margin-top: 2rem; */
    display: flex;
    justify-content: space-between;
}

/* Card css */

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    margin-top: 2rem;
}

.card-single {
    background: #fff;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 2px;
    min-width: 200px;
}

.card-flex {
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: 70% auto;
}

.card-head span {
    display: block;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 600;
    font-size: .9rem;
}

.card-head small {
    font-size: 600;
    color:#555;
}

.card-info h2 {
    font-size: 2.2rem;
    color: #333;
}
.card-chart span {
    font-size: 5rem;
}

.card-chart.red span {
    color: rgb(168, 98, 33);
}
.card-chart.blue span {
    color: rgb(40, 76, 153);
}
.card-chart.yellow span {
    color: rgb(11, 168, 45);
}

/* Detail css */
/* Analytics css */
.detail-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 35% auto;
    grid-gap: 3rem;
}

.analytics-card {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 2px;
    height: 525px;
    min-width: 350px;
}

.analytics-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}
.analytics-head span {
    font-size: 1.5rem;
}
.analytics-chart {
    margin-bottom: 2rem;
}
.chart-circle {
    height: 200px;
    width: 200px;
    border: 8px solid var(--primary-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: auto;
    margin-bottom: 3rem;
}
.analytics-note span {
    font-size: 1.2rem;
    color: #555;
    font-weight: 600;

}

.analytics-btn button {
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0.6rem 1rem;
    width: 100%;
    height: 45px;
    background-color: rgb(8, 150, 168);
    border-radius: 2px;
    border: 0px;
}
/* History css */
.history {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 1rem 1.5rem;
    max-height: 700px;
    overflow: hidden;
}
.history-head-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history-head-flex small{
    color: var(--primary-color);
    font-weight: 600;
    display: inline-block;
    margin-left: 2rem;
}
.history table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}
.tr-info, .tr-head{
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: .5rem;
    font-size: .95rem;
}
.td-head {
    background-color: #8da2fb;
}
.tr-head {
    color:#222;
    font-size: 1rem;
    overflow: initial;
    height: 100%;
}
.tr-info {
    overflow: auto;
    height: 100%;
}

.td-info {
    background: #fff;
}
.tr-info p, .tr-head p{
    margin: auto;
}
.table-responsive {
    overflow: auto;
}

/* Responsive */
@media only screen and (max-width: 1124px) {
    .sidebar {
        left: -100%;
    }
    .main-content {
        margin-left: 0;
    }
    .main-content header {
        left: 0;
        right: 0;
        width: 100%;
    }
    #sidebar-toggle:checked ~ .sidebar {
        left: 0;
    }
    #sidebar-toggle:checked ~ .main-content {
        margin-left: 280px;
    }
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 750px) {
    .cards {
        grid-template-columns: 100%;
        width: 100%;
    }
    .detail-grid {
        grid-template-columns: 100%;
    }
    .page-header {
        display: block;
    }
}

/* Analytics css */
/* detail-chard-grid css */

.detail-chard-grid {
    display: grid;
    grid-template-columns: 65% auto;
    margin-top: 2rem;
}
.analytics-chart-head h3 {
    color: var(--primary-color);
    font-size: 1.2rem;
}
.analytics-chart-head small {
    color: #555;
}

.analytics-chart-main {
    font-size: 15rem;
}
.analytics-chart-main span {
    display: flex;
    justify-content: center;
    color: #8da2fb;
}
.status.red {
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 50%;
}
.status.yellow {
    height: 20px;
    width: 20px;
    background: yellow;
    border-radius: 50%;
}
.status.green {
    height: 20px;
    width: 20px;
    background: green;
    border-radius: 50%;
}

/* User css */

.user-grid {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 3rem;
    margin-top: 3rem;
}
.user-account {
    margin-top: 5rem;
}
.user-head h3 {
    color: rgb(23, 23, 177);
}
.user-main {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
}
.user-component {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 2rem;
    margin-top: 1rem;
}
.user-component h4 {
    font-weight: 600;
}
