<header>
    <div class="menu-toggle">
        <label for="sidebar-toggle">
            <span class="las la-bars"></span>
        </label>
    </div>
    <div class="header-icons">
        <span class="las la-search"></span>
        <span class="las la-bookmark"></span>
        <span class="las la-sms"></span>
    </div>
</header>