/* Sidebar css */

#sidebar-toggle {
    display: none;
}

#sidebar-toggle:checked~.sidebar {
    left: -100%;
}

#sidebar-toggle:checked~.main-content header {
    left: 0;
    width: 100%;
    right: 0;
}

#sidebar-toggle:checked~.main-content {
    margin-left: 0;
}

.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--color-main);
    color: #fff;
    z-index: 20;
    transition: left 500ms;
}

.sidebar-brand {
    height: 100px;
}

.brand-flex {
    display: flex;
    justify-content: space-between;
}
.brand-icons {
    display: flex;
}
.brand-icons span {
    color: #fff;
    font-size: 1.5rem;
    margin-left: .5rem;
}

.sidebar-user {
    margin: 1rem 0rem;
    text-align: center;
}

.sidebar-user img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #efefef;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.sidebar-user h3 {
    font-size: 1rem;
}

.sidebar-user p {
    font-size: .8rem;
}

.sidebar-user button {
    margin-top: 2rem;
    background: var(--color-main);
    color: var(--primary-color);
    border: 1px solid var(--color-main);
    border-radius: 3px;
    padding: 5px 10px;
}

.sidebar-menu {
    margin-top: 3rem;
}

.menu-head {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.sidebar-menu ul {
    margin-bottom: 1.5rem;
}

.sidebar-menu li {
    margin-bottom: 0.9rem;
}

.sidebar-menu li a {
    color: #efefef;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.sidebar-menu li a span {
    font-size: 1rem;
    display: inline-block;
    margin-right: .8rem;
}

.lou-out {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-log-out {
    height: 30px;
    width: 80%;
    background: rgb(48 96 203);
    border: 0px solid;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.btn-log-out:hover {
    cursor: pointer;
}